In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib
from joblib import dump, load
import pickle
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
data = pd.read_csv('augmented_data.csv')

In [3]:
data.columns =['sentence', 'valid']

In [4]:
data.head()

                                            sentence  valid
0  je voudrais un voyage de bons-en-chablais à ba...      1
1  Je voudrais un trajet de sains du thiaville ve...      1
2  Je voudrais un voyage de longpré-corps-saints ...      1
3  je voudrais un trajet de bons-en-chablais vers...      1
4  je voudrais un voyage de donjeux à montaignac-...      1

In [5]:
def preprocess_data(data):
    
    # Convert text to lowercase
    data['sentence'] = data['sentence'].str.strip().str.lower()
    
    data = data.sample(frac = 1)
    return data

In [6]:
data = preprocess_data(data)
data.head()

                                               sentence  valid
1534                   j'adore faire du bateau à vapeur      0
475   il faudrait que j'aille à lamothe-landerron à ...      1
442   il me faudrait aller de chambéry-chal.-les-eau...      1
361   je voudrais aller de longpré-corps-saints à mo...      1
97     je souhaiterais aller de brion-laizy à cap-d'ail      1

In [7]:
x = data['sentence']
y = data['valid']
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.2, random_state=42)

In [8]:
vec = CountVectorizer(stop_words='english')
x = vec.fit_transform(x).toarray()
x_test = vec.transform(x_test).toarray()

In [9]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x, y)

MultinomialNB()

In [10]:
model.score(x_test, y_test)

0.9915492957746479

In [11]:
model.predict(vec.transform(["Je veux aller à Paris."]))

array([1])

In [12]:
dump(model,'naive_bayes_model.joblib')
dump(vec,'vectorizer.joblib')

['vectorizer.joblib']

In [13]:
modelloaded = load('naive_bayes_model.joblib')

In [14]:
modelloaded.predict(vec.transform(["Je veux aller à Paris."]))

array([1])